<%- include('./partials/header.ejs') %>
<h1 style="margin-top: 15px; text-align: center">Mr. Wattar Absence System</h1>

<img src="https://thumbs.dreamstime.com/b/biology-icon-set-subjects-designating-school-discipline-biology-icon-set-subjects-designating-school-discipline-183359182.jpg" style="width: 50vw;
 height: 50vh; margin-right: 25vw; margin-left: 25vw;">
=======
<img width='50vw' height="50vh" src="https://thumbs.dreamstime.com/b/biology-icon-set-subjects-designating-school-discipline-biology-icon-set-subjects-designating-school-discipline-183359182.jpg">
