<%- include('./partials/header.ejs') %>

<form action="/new" method="POST" class="container">
	<div class="form-group">
    <label for="exampleInputEmail1" style="font-size: 25px; text-align: center;">Name</label>
    <input type="text" name="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <button class="btn btn-success btn-block" style="margin-top: 15px; width: 100%;">Submit</button>
  </div>
  </form>